@import url('https://fonts.googleapis.com/css?family=Inter');

.container{
    width:100%;
    height:100%;
    padding-left:10%;
    padding-right:10%;
    box-sizing: border-box;

}
.dashBoardContainer{
    padding-top: 100px;
    display: flex;
    align-items: center;
}
.dashBoard{
    font-size: 44px;
    font-weight: 600;
    font-family: "inter";
    color:#DF44C9
}
.DashBoardImage{
    width: 50px!important;
    margin-left: 20px;
   color:#DF44C9;
    height: 50px!important;
    
}
.employeeDetailsCont{
    width: 100%;
    font-size: 28px;
    margin-top: 50px;
    font-weight: 600;
    font-family: "inter";
    color:#DF44C9
    
}
.tableContainer{
    width:100%;
    margin-top: 50px;
    background-color:   rgb(251,204,231);
    height :120px;
    padding:20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}
.bodyContainer{
    display: flex;
    width: 100%;
    height :60px;
    padding:20px;
    border-bottom: 1px solid black;


}
.searchContainer{
    display:flex;
margin-top: 25px;
    justify-content: space-between;
}
.inputCont{
    height:40px;
    width:280px;
    border-radius: 15px;
    padding-left: 10px;
    box-sizing: border-box;
}
.addUserButton1{
    background-color: #DF44C9;
    cursor:pointer;
    border-radius: 10px;
    padding: 10px;
    color: white;
    
}
.tableHeadCont{
    width:100%;
    display: flex;
}
.nameWidth{
    width: 15%;
    display: flex!important;
    align-items: center!important;
}
.sortIconCont{
    display: flex;
    margin-left: 8px;
    
}
.sortIcon{
    width: 15px!important;
}
.pagination{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}
.paginationNumber{
    border:1px solid black;
    width: 28px;
    height: 28px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.previous{
    border:1px solid black;
    background-color: #DF44C9;
    color: white;
    cursor: pointer;
   margin-right: 10px;
   border-radius: 3px;
   padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.noUserFound{
    display :flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
}